<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://goratio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>goratio.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>goRatio</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>keiserea</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="goRatio.Models.ApplicationDbContext, goRatio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="goRatioModelContainer" Order="2" Enabled="False">
          <Destination Path="Data Source=ytdap1borg.database.windows.net;Initial Catalog=GoRatio;Persist Security Info=True;User ID=keiserea;Password=Qpal1z!!;Application Name=EntityFramework" Name="Data Source=ytdap1borg.database.windows.net;Initial Catalog=GoRatio;Persist Security Info=True;User ID=keiserea;Password=Qpal1z!!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="goRatio.Models.goRatioModelContainer, goRatio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)goRatioModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.goRatioModel.csdl|res://*/Models.goRatioModel.ssdl|res://*/Models.goRatioModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ytdap1borg.database.windows.net;Initial Catalog=GoRatio;Persist Security Info=True;User ID=keiserea;Password=Qpal1z!!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>